@import '../../../mixin';
@import '../../../variables';


.details {
  margin-top: 50px;
  width: 90%;
  max-width: 1278px;
  @include align-space-between;
  margin-inline: auto;
  flex-wrap: wrap;

  @media (max-width:900px) {
    flex-direction: column;
    width: 100%;
   

    .flagBox, .data{
      width: 90%;
    }
    
  }

  @media (max-width:450px) {
     .parts{
     
     flex-direction: column;
     }

  }

  img {
    width: 100%;
    height: 405px;
  }

  p {
    margin: 10px 0;
  }
}

.error {
  color: red;
  text-align: center;
}

button {
  
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;

 
}

.flagBox{
  width: 50%;

}

.data{
 
  width: 40%;
}
.parts{
 display: flex;
 justify-content: space-between;
}

.borders >*{

  margin-right: 10px;
}

.borders button{
  border-radius: 5px;
}