<app-header></app-header>

<div *ngIf="error$ | async as error" class="error">{{ error }}</div>


<button (click)="goBack()">
  <span style="font-size: 30px; vertical-align: center;">←</span> Back
</button>

<div *ngIf="selectedCountry$ | async as country" class="details">
  <div class="flagBox">
    <img [src]="country.flags?.png" alt="{{ country.name.common }} flag" />
  </div>

  <div class="data">
    <h2>{{ country.name.common }} ({{ country.name.official }})</h2>

    <div class="parts">
      <div class="firstpart">
        <p><strong>Native Name:</strong> {{ getNativeName(country) }}</p>
        <p><strong>Population:</strong> {{ country.population | number }}</p>
        <p><strong>Region:</strong> {{ country.region }}</p>
        <p><strong>Subregion:</strong> {{ country.subregion }}</p>
        <p><strong>Capital:</strong> {{ country.capital[0] || 'N/A' }}</p>
       
      </div>
      
      <div class="secondpart"> <!-- Corrected typo 'secontpart' -->
        <p><strong>Top Level Domain:</strong> {{ country.tld?.[0] || 'N/A' }}</p>
        <p><strong>Currencies:</strong> {{ getCurrencyNames(country.currencies) || 'N/A' }}</p>
        <p><strong>Languages:</strong> {{ getLanguageNames(country.languages) || 'N/A' }}</p>
    
      </div>
    </div>

    <div class="borders">
      <strong>Border Countries:</strong>
      <button *ngFor="let border of country.borders" (click)="navigate(border)" class="border-button">
        {{ border }}
      </button>
      <p *ngIf="!country.borders?.length">no borders</p>
    </div>
  </div>
</div>