@mixin align-space-between{

    display: flex;
    align-items: center;
    justify-content: space-between;
}


@mixin align-space-center{

    display: flex;
    align-items: center;
    justify-content: center;
}

